.home {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: calc(100vh - 58px);
}

.ui.grid.main-grid {
  padding: 5% 5% 10% 5%;
}

.header {
  font-size: 2rem;
  color: white;
}

.detail {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.center-horizontally {
  justify-content: center;
  display: flex;
}

.profile-photo {
  width: 200px;
}

svg.social-icon {
  width: 30px;
  height: 30px;
  margin: 0px 1rem;
  stroke: white;
}