.App {
  background: #282c34;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Roboto Slab", serif;
}

a {
  font-family: "Roboto Slab", serif;
}
